<!-- about -->
<a id="About"></a>
<div class="about">
  <div class="skillbox">
    <ul class="skills">
      <li><i class="fa fa-check fa-lg"></i>&nbsp;&nbsp;&nbsp;Ruby on Rails</li>
      <li><i class="fa fa-check fa-lg"></i>&nbsp;&nbsp;&nbsp;CSS</li>
      <li><i class="fa fa-check fa-lg"></i>&nbsp;&nbsp;&nbsp;HTML</li>
    </ul>
  </div>

  <div class="bio">
    <h1 class="bio-header">About Me</h1>
    <br>
    <p>Hi there, I’m Mel Zhang, a budding Ruby on Rails developer.</p>
    <p>I am diving into the world of web development to embrace my love for the Internet and fuel my creativity. Originally my plan was to go into medicine (I even shadowed neurologists!), but I questioned whether I would be satisfied with the lifestyle a career in medicine entailed. After being introduced to Marc Andreessen’s 2011 article "<%= link_to 'Why Software Is Eating the World', 'http://online.wsj.com/news/articles/SB10001424053111903480904576512250915629460' %>", I became excited for the potential that technology has to change industries (such as healthcare and education) and to improve people’s lives. With the wide array of online resources available, I've been teaching myself Ruby on Rails, CSS, HTML, jQuery, and more. Although there is so much to learn, I’ve realized that climbing up steep learning curves is one of the more challenging, yet rewarding, parts of life. </p>
</div>
</div>


<!-- carousel -->
<a id="Projects"></a>
<h1 class="projects-header">Projects<h1>
<div class="caro">
  <div id="carousel-projects" class="carousel slide container" data-ride="carousel" style=" margin: 0 auto">
    <ol class="carousel-indicators" style="">
      <li data-target="#carousel-projects" data-slide-to="0" class="active"></li>
      <li data-target="#carousel-projects" data-slide-to="1"></li>
      <li data-target="#carousel projects" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
      <div class="item active">
        <div class="inner-item">
          <!--height:430px, width:700px-->
           <%= link_to image_tag("sl.jpg"), "http://startups.mankindforward.com/", :target => "http://startups.mankindforward.com/" %>
        </div>
        <div class="carousel-caption">
          <p>- Startup Landscapes -</p>
          <p>A website for quick navigation of the continuously changing world of startups that displays current startups organized by industry. Uses the Crunchbase API.</p>
          <br>
        </div>
      </div>
      <div class="item">
        <div class="inner-item">
          <%= link_to image_tag("rsz_google.jpg", :alt => "http://www.google.com"), "http://www.google.com", :target => "_blank" %>
      </div>
        <div class="carousel-caption">
          <p>GOOGLE</p>
        </div>
      </div>
      <div class="item">
        <div class="inner-item">
          <%= link_to image_tag("rsz_aboutme.jpg", :alt => "about.me/melzhang"), "about.me/melzhang", :target => "_blank" %>
        </div>
        <div class="carousel-caption">
          <p>About.me</p>
        </div>
      </div>
    </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#carousel-projects" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left">&lsaquo;</span>
    </a>
    <a class="right carousel-control" href="#carousel-projects" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right">&rsaquo;</span>
    </a>
  </div>
</div>

<script>
  $(document).ready(function(){
    $('.carousel').carousel();
      interval: 3000
  });
</script>
<!-- end carousel -->
