.contact-confirmed
  %h1 Thanks for your message.
  %p{:style => "font-size: 20px;"}
    \&nbsp; I'll get back to you soon.
  %br
  %p
    = link_to 'Send Another Message', new_contact_path, :class => 'button'