<!-- <ul id="filters" class="clearfix">
  <li><span class="filter active" data-filter="app card icon logo web">All</span></li>
  <li><span class="filter" data-filter="app">App</span></li>
  <li><span class="filter" data-filter="card">Card</span></li>
  <li><span class="filter" data-filter="icon">Icon</span></li>
  <li><span class="filter" data-filter="logo">Logo</span></li>
  <li><span class="filter" data-filter="web">Web</span></li>
</ul> -->

<a id="Projects"></a>
<h1 class="projects-header">Projects<h1>

<div id="portfoliolist">
  <div class="portfolio logo" data-cat="logo">
    <div class="portfolio-wrapper">
      <%= link_to image_tag("inspirez_800_460.jpg", :alt => "http://inspirez.herokuapp.com"), "http://inspirez.herokuapp.com", :target => "_blank" %>
      <div class="label">
        <div class="label-text">
          <a class="text-title">inspirez</a>
          <span class="text-category">Get inspired. Take a break and read a random quote or watch a YouTube video.</span>
        </div>
        <div class="label-bg"></div>
      </div>
    </div>
  </div>


  <div class="portfolio logo" data-cat="logo">
    <div class="portfolio-wrapper">
      <%= link_to image_tag("sl.jpg"), "http://startups-mankindforward.herokuapp.com/", :target => "http://startups-mankindforward.herokuapp.com/" %>
      <div class="label">
        <div class="label-text">
          <a class="text-title">Startup Landscapes</a>
          <span class="text-category">List startups by industry. Uses the Crunchbase API.</span>
        </div>
        <div class="label-bg"></div>
      </div>
    </div>
  </div>

</div>