
- if @project.notes == "Intern at Changyou.com (US)"
  = render 'mobogenie'
- else
  %h1.page-header= @project.title
  .project-image= image_tag @project.image_url
  .project-description= @project.description