
<a id="About"></a>
<div class="about">
  <!-- <div class="skillbox">
    <h4 class="resources">What I Can Use</h4>
    <ul class="skills">
      <li><i class="fa fa-check fa-lg"></i>&nbsp;&nbsp;&nbsp;Ruby on Rails</li>
    </ul> -->
  </div>


  <div class="bio">
    <h1 class="bio-header">About Me</h1>
    <div class="linkedin"><%= link_to image_tag("linkedin.jpg"), "http://www.linkedin.com/in/melzhang/", :target => "_blank" %></div>

    <a href="https://github.com/z22" style="color: #8A8AE6" target="_blank"><i class="fa fa-github-square fa-3x"></i></a>

    <div style="width: 600px; height: 600px; padding-bottom: 30px;">
    <script src="http://cdn.tagul.com/embed/bt64upsnjjqv"></script>
    <!-- Please don't remove attribution to Tagul.com -->
    <div style="display: table; margin: 0 auto;"><a href="http://tagul.com/">Created with Tagul.com</a></div>
    </div>

    <br>
    <br>

    <ul class="aboutlist">

      <!-- <li class="aboutlist">Interesting facts about me "<%= link_to 'link text', 'http://online.wsj.com/', target: '_blank' %>".</li> -->
      <!-- <li class="aboutlist">Psychology </li>
      <li class="aboutlist">Learning Ruby on Rails, CSS, HTML</li> -->
    </ul>


    <br>
    <br>


</div> <!-- Bio end -->
</div> <!-- About end