
<a id="About"></a>
<div class="about">
  <!-- <div class="skillbox">
    <h4 class="resources">What I Can Use</h4>
    <ul class="skills">
      <li><i class="fa fa-check fa-lg"></i>&nbsp;&nbsp;&nbsp;Ruby on Rails</li>
      <li><i class="fa fa-check fa-lg"></i>&nbsp;&nbsp;&nbsp;CSS</li>
      <li><i class="fa fa-check fa-lg"></i>&nbsp;&nbsp;&nbsp;HTML</li>
      <li><i class="fa fa-check fa-lg"></i>&nbsp;&nbsp;&nbsp;HAML</li>
      <li><i class="fa fa-check fa-lg"></i>&nbsp;&nbsp;&nbsp;Twitter Bootstrap</li>
      <li><i class="fa fa-check fa-lg"></i>&nbsp;&nbsp;&nbsp;Git/GitHub</li>
      <li><i class="fa fa-check fa-lg"></i>&nbsp;&nbsp;&nbsp;Heroku</li>
      <li><i class="fa fa-check fa-lg"></i>&nbsp;&nbsp;&nbsp;Adobe Photoshop</li>
    </ul>
    <h4 class="resources">What I Am Improving On</h4>
    <ul class="skills">
      <li><i class="fa fa-minus fa-lg"></i>&nbsp;&nbsp;&nbsp;MySQL</li>
      <li><i class="fa fa-minus fa-lg"></i>&nbsp;&nbsp;&nbsp;Javascript</li>
    </ul> -->
  </div>


  <div class="bio">
    <h1 class="bio-header">About Me</h1>
    <br>
    <ul class="aboutlist">
      <li class="aboutlist">Inspired by Marc Andreessen’s 2011 article "<%= link_to 'link text', 'http://online.wsj.com/', target: '_blank' %>".</li>
      <li class="aboutlist"></li>
    </ul>

    <br>
    <br>


</div> <!-- Bio end -->
</div> <!-- About end