// Place all the styles related to the Abouts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.fa.fa-check {
  color: #8A8AE6;
  padding-left: 20px;
}

ul.skills {
  list-style-type: none;
  padding-top: 20px;
  font-family: Lato;
  font-size: 18px;
  color: #555;
  margin-left: 0px;
}

ul.skills li {
  padding-bottom: 7px;
}

.skillbox {
  height: 300px;
  width: 200px;
  background-color: transparent;
  float: right;
  margin-right: 40px;
  margin-top: 60px;
  /*margin-left: 400px;
  margin-right: 10px;
  margin-top: 100px;*/
  /*display: inline;*/
  border-radius: 7px;
}

.bio {
  /*display: inline;*/
  background-color: transparent;
  height: 600px;
  width: 500px;
  float: right;
  margin-right: 20px;
  margin-top: 60px;
  padding-left: 10px;
  color: #555;
}

.bio-header {
  font-family: Lato;
  font-size: 30px;
}

.bio p {
  font-size: 20px;
}


.caro {
  margin-right: 80px;
  margin-top: 150px;
  float: right;
  clear: top;
  display: inline-block;
}
.carousel {
  width: 800px !important;
}

.inner-item {
  text-align: center;
}

.carousel-indicators {
  left: 48%;
  margin-top: 420px;
}

.carousel-indicators li {
  background-color: #8A8AE6;
}

.carousel-indicators li.active {
  background-color: #fff;
}

.carousel-caption {
  border-top: 3px solid #8A8AE6;
}

.carousel-control {
  color: #8A8AE6;
}

.glyphicon {
  color: #8A8AE6;
}