// Place all the styles related to the about controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.cloud {
  padding-top: 30px;
}

.resources {
  font-family: Lato;
  font-weight: 700;
}

.aboutlist {
  /*list-style-type: none;*/
  font-size: 20px;
  font-family: Lato;
  padding-top: 15px;
  padding-bottom: 20px;
}

.about {
  clear: both;
  position: relative;
  /*padding-top: 100px;*/
}

.iconlinks {
  padding-bottom: 400px;
}

.fa.fa-check {
  color: #8A8AE6;
  padding-left: 16px;
}

.fa-minus {
  color: #8A8AE6;
  padding-left: 20px;
}

ul.skills {
  list-style-type: none;
  padding-top: 5px;
  padding-bottom: 10px;
  font-family: Lato;
  font-size: 18px;
  color: #555;
  margin-left: 0px;
}

ul.skills li {
  padding-bottom: 7px;
}

.skillbox {
  /*height: 300px;
  width: 200px;*/
  background-color: transparent;
  position: relative;
  float: right;
  margin-right: 40px;
  margin-top: 60px;
  /*margin-left: 400px;
  margin-right: 10px;
  margin-top: 100px;*/
  /*display: inline;*/
  border-radius: 7px;
  border: solid 2px #ccc;
  padding: 10px;
}

.bio {
  /*display: inline;*/
  background-color: transparent;
  width: 600px;
  float: right;
  margin-right: 150px;
  margin-top: 0px;
  padding-left: 10px;
  padding-top: 100px;
  color: #555;
  font-family: Lato;
  clear: both;
}

.bio-header {
  font-family: Bebas Neue;
  font-size: 60px;
  border-bottom: 3px #8A8AE6 solid;
}

.bio p {
  font-size: 18px;
  line-height: 115%
}

.bio a {
  text-decoration: none;
  color: #8A8AE6;
  &:visited {
    color: #8A8AE6;
    background-color: transparent;
  }
  &:hover {
    color: #8A8AE6;
    background-color: transparent;
    text-decoration: underline;
  }
}