/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree .
*/
@import url(http://fonts.googleapis.com/css?family=Josefin+Sans:300|Kaushan+Script|Lato|Alegreya+Sans+SC|Poiret+One|La+Belle+Aurore|Swanky+and+Moo+Moo|Special+Elite|Delius|Amaranth|Architects+Daughter|Over+the+Rainbow);


.aboutmeicon {
  margin-left: 450px;
  margin-top: 10px;
  position: absolute;
  height: 38.89px;
  width: 33.33px;
}

.linkedin a:link {
  background-color: transparent;
}

.linkedin a:hover {
  background-color: transparent;
}

.linkedin {
  position: absolute;
  right: 0;
  margin-top: 20px;
  margin-right: -35px;
}


body {
  background-color: transparent;
}

html {
  background: url('/assets/images/ledge1light.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  /*background-color: #eee;*/
}

.about {
  position: relative;
  padding-top: 100px;
}

.fa.fa-check {
  color: #8A8AE6;
  padding-left: 20px;
}

ul.skills {
  list-style-type: none;
  padding-top: 20px;
  font-family: Lato;
  font-size: 18px;
  color: #555;
  margin-left: 0px;
}

ul.skills li {
  padding-bottom: 7px;
}

.skillbox {
  height: 300px;
  width: 200px;
  background-color: transparent;
  float: right;
  margin-right: 40px;
  margin-top: 60px;
  /*margin-left: 400px;
  margin-right: 10px;
  margin-top: 100px;*/
  /*display: inline;*/
  border-radius: 7px;
}

.bio {
  /*display: inline;*/
  background-color: transparent;
  height: 600px;
  width: 500px;
  float: right;
  margin-right: 20px;
  margin-top: 60px;
  padding-left: 10px;
  color: #555;
}

.bio-header {
  font-family: Lato;
  font-size: 30px;
}

.bio p {
  font-size: 20px;
}


/*.footer {
  position: absolute;
  left: 0px;
  bottom: 20px;
  height: 60px;
  width: 100%;
  background-color: #8A8AE6;
  border: none;
}

.footer .linkedin {
  margin-left: 300px;
  margin-top: -25px;
}

.footer-text {
  margin-top: 20px;
  padding-left: 30px;
  color: #fff;
  font-family: Lato;
  font-size: ;
  font-style: bold;
}

.footer-text p {
  display: inline;
}

.footer-text a:link {
  color: #fff;
  text-decoration: none;
}

.footer-text a:visited {
  color: #fff;
  text-decoration: none;
}

.footer-text a:hover {
  color: #eee;
  text-decoration: none;
  background-color: transparent;
}

.footer-text a a:active {
  color: #fff;
  text-decoration: none;
}
*/