/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree .
*/
@import url(http://fonts.googleapis.com/css?family=Josefin+Sans:300|Kaushan+Script|Alegreya+Sans+SC|Poiret+One|La+Belle+Aurore|Swanky+and+Moo+Moo|Special+Elite|Delius|Amaranth|Architects+Daughter|Over+the+Rainbow|Lato:300,400,700);


/*$purple: #8A8AE6;*/

.navbar .button a {
  padding: 3px !important;
}



body {
  background-color: transparent;
}

html {
  background: image-url('ledge1light_bg.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  /*background-color: #eee;*/
}

.iconlinks {
  float: right;
  height: 30px;
  margin-top: -8px;
  margin-right: 35px;
  a:hover {
    background-color: transparent;
  }
}

.linkedin {
  height: 30.444px;
  width: 45.222px;
  float: left;
  margin-right: 33px;
  img {
    height: 47px;
  }
}

.fa-github-square {
  margin-top: -2px;
  margin-right: 29px;
}

.fa-envelope {
  margin-top: -4px;
}

.footer {
  position: fixed;
  left: 0px;
  bottom: 0px;
  height: 30px;
  width: 36%;
  background-color: #8A8AE6;
  border: none;
}



.footer-text {
  margin-top: 6px;
  padding-left: 30px;
  color: #fff;
  font-family: Lato;
  font-size: 14px;
  font-style: bold;
}

.footer-text p {
  display: inline;
}

.footer-text a:link {
  color: #fff;
  text-decoration: none;
  background-color: transparent;
}

.footer-text a:visited {
  color: #fff;
  text-decoration: none;
  background-color: transparent;
}

.footer-text a:hover {
  color: #eee;
  text-decoration: none;
  background-color: transparent;
}

.footer-text a a:active {
  color: #fff;
  text-decoration: none;
  background-color: transparent;
}
