/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree .
*/
@import url(http://fonts.googleapis.com/css?family=Josefin+Sans:300|Kaushan+Script|Lato|Alegreya+Sans+SC|Poiret+One|La+Belle+Aurore|Swanky+and+Moo+Moo|Special+Elite|Delius|Amaranth|Architects+Daughter|Over+the+Rainbow);

.navbar .button a {
  padding: 3px !important;
}

.aboutmeicon {
  margin-left: 450px;
  margin-top: 10px;
  position: absolute;
  height: 38.89px;
  width: 33.33px;
}

.navbar-linkedin a:link {
  background-color: transparent;
}

.navbar-linkedin a:hover {
  background-color: transparent;
}

.navbar-linkedin {
  position: absolute;
  right: 0;
  margin-top: 20px;
  margin-right: -35px;
}


body {
  background-color: transparent;
}

html {
  background: image-url('ledge1light.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  /*background-color: #eee;*/
}




.footer {
  position: fixed;
  left: 0px;
  bottom: 0px;
  height: 30px;
  width: 36%;
  background-color: #8A8AE6;
  border: none;
}

.footer-linkedin {
  margin-left: 200px;
  margin-top: -22px;
}

.footer-linkedin a {
  &:hover {
    background-color: transparent;
  }
}

.footer-twitterbird {
  position: absolute;
  margin-left: 240px;
  margin-top: -25px;
  display: inline-block !important;
  height: 25px;
  width: 25px;
}

.footer-twitterbird a {
  &:hover {
    background-color: transparent;
  }
}


.footer-bucketlistly {
  position: absolute;
  margin-left: 280px;
  margin-top: -23px;
  display: inline-block !important;
  height: 25px;
  width: 25px;

}

.footer-bucketlistly a {
  &:hover {
    background-color: transparent;
  }
}

.footer-text {
  margin-top: 6px;
  padding-left: 30px;
  color: #fff;
  font-family: Lato;
  font-size: 14px;
  font-style: bold;
}

.footer-text p {
  display: inline;
}

.footer-text a:link {
  color: #fff;
  text-decoration: none;
  background-color: transparent;
}

.footer-text a:visited {
  color: #fff;
  text-decoration: none;
  background-color: transparent;
}

.footer-text a:hover {
  color: #eee;
  text-decoration: none;
  background-color: transparent;
}

.footer-text a a:active {
  color: #fff;
  text-decoration: none;
  background-color: transparent;
}
