// Place all the styles related to the Main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.homepage {
  position: relative;
  /*padding-bottom: 400px;*/
  height: 800px;
  width: 600px;
  float: right;
  margin-right: 200px;
  margin-top: 0px;
}


