// Place all the styles related to the Projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.projects-header {
  color: #8A8AE6;
  text-align: center;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 40px;
  padding-bottom: 20px;
}

#carousel-projects {
  padding: 40px;
}