// Place all the styles related to the Projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html {
  background: image-url('ledge1light_bg.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  /*background-color: #eee;*/
}


.projects-header {
  font-family: Bebas Neue;
  font-size: 36px;
  /*color: #555 !important;*/
  color: #8A8AE6;
  font-weight: 700;
  margin-left: 51%;
  padding-top: 100px;
  float: left;
  position: relative;
  border-bottom: 3px #8A8AE6 solid;
}

.Projects {
  width: 600px !important;
  float: right;
  margin-right: 20px;
  /*margin-top: 0px;*/
  padding-left: 10px;
  padding-top: 100px;
}



//hover effect gallery

.container {
  position: relative;
  width: 960px;
  margin: 0 auto;
  /* You can see the purpose of transition by resizing the window.  */
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}

#filters {
  margin:1%;
  padding:0;
  list-style:none;
}

  #filters li {
    float:right;
    clear: both;
  }

  #filters li span {
    display: block;
    padding:5px 20px;
    text-decoration:none;
    color:#666;
    cursor: pointer;
  }

  #filters li span.active {
    background: #e95a44;
    color:#fff;
  }

#portfoliolist .portfolio {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  width:40%;
  margin:1%;
  clear: both;
  position: relative;
  float:right;
  overflow:hidden;
  margin-right: 140px;
  font-family: Lato;
}

  .portfolio-wrapper {
    overflow:hidden;
    position: relative !important;
    background: none;
    cursor:pointer;
    width: 80%;
  }

  .portfolio img {
    max-width:100%;
    position: relative;
  }

  //hide its label by default
  .portfolio .label {
    position: absolute;
    width: 100%;
    height:40px;
    bottom:-40px;
  }

    .portfolio .label-bg {
      background: #8A8AE6;
      width: 100%;
      height:100%;
      position: absolute;
      top:0;
      left:0;
    }

    .portfolio .label-text {
      color:#fff;
      position: relative;
      z-index:500;
      padding:5px 8px;
    }

      .portfolio .text-category {
        display:block;
        font-size:9px;
      }

      .portfolio .label-text a.text-title {
        color:#fff;
        text-decoration: none;
            &:hover {
              text-decoration: none;
              background-color: transparent;
        }

    }


    .mgscreenshot {
      margin-left: 20%;
      margin-right: 0%;
    }



.page-header {
  margin-top: 60px;
  margin-left: 15px;
  color: #0066FF;
  font-family: Ostrich Sans Rounded;
  font-size: 90px;
  border-bottom: 2px solid #aaa;
}

.project-item {
  float: left;
  h3 {
    font-family: Josefin Sans;
    font-size: 40px;
    a:link {
      text-decoration: none;
      color: #0066FF;
    }
    a:visited {
      text-decoration: none;
      color: #0066FF;
    }
    a:hover {
      text-decoration: none;
      background-color: transparent;
      color: #fff;
      -moz-transition: color 300ms;
      -o-transition: color 300ms;
      -webkit-transition: color 300ms;
      transition: color 300ms;
    }
    a:active {
      text-decoration: none;
      color: #0066FF;
    }
  }

}

