// Place all the styles related to the Projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.projects-header {
  font-family: Lato;
  font-size: 36px;
  color: #555 !important;
  font-weight: 700;
  margin-right: 750px;
  padding-top: 150px;
  float: right;
  clear: both;
  position: relative;
}
